apiVersion: v1
kind: ServiceAccount
metadata:
  name: vault-config
  namespace: vault
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: vault-config-role
  namespace: vault
spec:
  rules:
    - apiGroups: [""]
      resources: ["secrets"]
      resourceNames: ["vault-root-token", "vault-unseal-keys"]
      verbs: ["get", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: vault-config-binding
  namespace: vault
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: vault-config-role
subjects:
  - kind: ServiceAccount
    name: vault-config
    namespace: vault
---
# Permission to read postgresql secret in another namespace
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: vault-config-cross-ns-reader
spec:
  rules:
    - apiGroups: [""]
      resources: ["secrets"]
      verbs: ["get", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: vault-config-cross-ns-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: vault-config-cross-ns-reader
subjects:
  - kind: ServiceAccount
    name: vault-config
    namespace: vault
