apiVersion: batch/v1
kind: Job
metadata:
  name: vault-init
  namespace: vault
spec:
  ttlSecondsAfterFinished: 300
  template:
    spec:
      serviceAccountName: vault-init
      restartPolicy: OnFailure
      containers:
        - name: vault-init
          # Image is built and pushed by GitHub Action on changes to docker/vault-init-job/
          # Tag format: sha-{commit-hash} for version tracking and ArgoCD change detection
          image: ghcr.io/whispr-messenger/vault-init-job:sha-fab7ca1
          env:
            - name: VAULT_ADDR
              value: http://vault.vault.svc:8200
