controller:
  service:
    type: LoadBalancer
    loadBalancerIP: "34.38.178.145"  # Regional static IP (europe-west1)
    annotations:
      cloud.google.com/load-balancer-type: "External"
  config:
    use-forwarded-headers: "true"
    proxy-real-ip-cidr: "0.0.0.0/0"
    enable-real-ip: "true"
  metrics:
    enabled: true
  admissionWebhooks:
    enabled: false
  ingressClassResource:
    name: nginx
    enabled: true
    default: true
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi