---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: arc-runner-sa
  namespace: arc-runners
---
# VSO VaultConnection for the arc-runners namespace
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultConnection
metadata:
  name: default
  namespace: arc-runners
spec:
  address: http://vault.vault.svc:8200
  skipTLSVerify: true
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultAuth
metadata:
  name: arc-runner-vault-auth
  namespace: arc-runners
spec:
  vaultConnectionRef: default
  method: kubernetes
  mount: kubernetes
  kubernetes:
    role: arc-runner
    serviceAccount: arc-runner-sa
    audiences:
      - vault
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: arc-github-pat
  namespace: arc-runners
spec:
  vaultAuthRef: arc-runner-vault-auth
  mount: kv
  type: kv-v2
  path: whispr/shared/github-arc
  destination:
    name: arc-github-pat-secret
    create: true
  refreshAfter: 1h
