apiVersion: v1
kind: ServiceAccount
metadata:
  name: user-service-sa
  namespace: whispr-prod
  labels:
    app: user-service
    tier: backend
    environment: production
automountServiceAccountToken: true