---
# VaultAuth configures how the service authenticates to Vault using Kubernetes auth
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultAuth
metadata:
  name: user-service-vault-auth
  namespace: whispr-prod
spec:
  vaultConnectionRef: default
  method: kubernetes
  mount: kubernetes
  kubernetes:
    role: user-service
    serviceAccount: user-service-sa
    audiences:
      - vault
